@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff4ce;
  font-family: "Noto Sans JP", sans-serif;
}

::selection {
  color: rgb(101, 72, 50);
  background-color: rgb(202, 165, 105);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /*  */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(94, 74, 43);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e8c076;
}
